$black: #222;
$white: #f5f5f5;
$divs-transition: all 300ms ease-in-out;

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup {
  width: 350px;
  height: 300px;
  padding: 30px 20px;
  background: $white;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 2;
  text-align: center;
  opacity: 0;
  top: -200%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: opacity 300ms ease-in-out,
              top 1500ms ease-in-out,
              transform 1000ms ease-in-out,
  ;
}

.popup.active {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out ;
}

.popup .title {
  margin: 5px 0px;
  font-size: 30px;
  font-weight: 600;
}

.popup .description {
  color: $black;
  font-size: 15px;
  padding: 5px;
}

.popup .dismiss-btn {
  margin-top: 15px;
}

.popup .dismiss-btn button {
  padding: 10px 20px;
  background: $black;
  color: $white;
  border: 2px solid $black;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: $divs-transition;
}

.popup .dismiss-btn button:hover {
  color: $black;
  background: $white;
}

.popup > div {
  position: relative;
  top: 10px;
  opacity: 0;
  transition: $divs-transition;
}

.popup.active > div {
  top: 0px;
  opacity: 1;
}

.popup.active .title {
  transition: $divs-transition 250ms;
}

.popup.active .description {
  transition: $divs-transition 300ms;
}

.popup.active .dismiss-btn {
  transition: $divs-transition 350ms;
}


