<div #dialog class="popup center">
  <div class="title">
    Success
  </div>
  <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit leo orci, at iaculis libero fermentum a.
    Nullam commodo sed lacus id finibus. Nulla dictum mi urna, eget pellentesque sem aliquet in.
    Integer at euismod mauris, et fringilla velit. Aenean a posuere sem, a volutpat mauris.
    Donec condimentum vestibulum ligula, sit amet eleifend nisl ullamcorper a.
  </div>
  <div class="dismiss-btn">
    <button id="dismiss-popup-btn" (click)="onDismissDialog()">Dismiss</button>
  </div>
</div>

<div class="center">
  <button id="open-popup-btn" (click)="onShowDialog()">Open Popup</button>
</div>

